
 .flex__contact{
     padding-top: 60px;
     padding-bottom: 60px;
     display: flex;
     justify-content: center;
     min-height: calc(100vh - 70px);
     width: 90%;
 }
 .flex__contact-form{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 50%;
     background-color: rgba(0, 0, 0, 0.101);
     border-radius: 15px;
     box-shadow: 1px 0px 11px black;
     
 }
label{
    display: block;
    margin-right: 115px;
}
input{
    padding: 2px;
    border: none;
    outline: none;
    width: 250px;
    height: 25px;
}
button{
    margin: 10px;
    padding: 10px 100px;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(0, 0, 0, 0.256);
    border-radius: 10px;
    border-color: rgba(199, 176, 147, 0.61);
}
button:hover{
    background-color: rgba(0, 0, 0, 0.356);
    cursor:pointer;
}
textarea{
    /* resize: none; */
    border: none;
    outline: none;
    max-width:250px;
    max-height:100px;
    min-width: 250px;
    min-height:50px;
}
