 .flex__contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.101);
    border-radius: 15px;
    box-shadow: 1px 0px 11px black;
    margin: 0 auto;
    margin-top: 30px;
    width: 80%;
 }
 .flex__contact-form{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     width: 100%;
    
     
 }
 .flex__label{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     width: 50%;
     margin-top: 20px;
 }
label{
    margin-top: 10px;
    font-size: 1.3em;
}
input{
    padding: 2px;
    border: none;
    outline: none;
    width: 250px;
    height: 25px;
}
.hr-email{
    height: 300px;
    border-left: 1px solid rgba(0, 0, 0, 0.439);
}
.fa-envelope{
    font-size: 10rem;
    margin: 0 auto;
    margin-left: 50%;
    margin-top: 50%;
}
button{
    margin: 10px;
    padding: 10px 100px;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(0, 0, 0, 0.256);
    border-radius: 10px;
    border-color: rgba(199, 176, 147, 0.61);
    font-size: 1.4em;
    display: flex;
    flex-direction: row-reverse;
}

.fa-paper-plane{
    font-size: 1em;
    margin-left: 10px;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.356);
    cursor:pointer;
}
textarea{
    /* resize: none; */
    border: none;
    outline: none;
    max-width:250px;
    max-height:100px;
    min-width: 250px;
    min-height:50px;
}

/* RESPONSIVE MOBILE */

@media screen and (min-width: 0px)
and (max-width: 300px){
.nav_main{
    justify-content: center;
    align-items: center;
}
.nav_main ul {
    justify-content: center;
}
.nav-menu-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.nav-menu-menu li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-menu-menu a{
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0.563);
    padding: 10px;
    border-radius: 10px;
    color: rgba(245, 245, 245, 0.796);
}
i.fa-home{
    display: none;
}
.search__flex{
      display: none;
  }
.flex__contact-form{
    width: 80%;
}
.flex__label{
    width: 90%;
    height: ;
}
.flex__contact-form{
    flex-direction: column-reverse;
}
.hr-email{
    border: none;
    margin: 0 auto;
    height: 150px;
}
.fa-envelope{
    margin: 0 auto;
}
.flex__label{
    align-items: center;
}
label{
    margin: 8px;
}
input{
    width: 100%;
    font-size: 1.2em;
}
textarea{
    max-width: 150px;
    max-height: 50px;
    min-width: 125px;
    min-height: 100px
}

button{
    padding: 10px 10px;
}
.footer_footer{
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 80%;
}
}
@media screen
and (min-width: 300px)
and (max-width: 414px){
    .nav_main{
        justify-content: center;
        align-items: center;
    }
    .nav_main ul {
        justify-content: center;
    }
    .nav-menu-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-menu-menu li {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .nav-menu-menu a{
        font-size: 20px;
        background-color: rgba(255, 0, 0, 0.563);
        padding: 10px;
        border-radius: 10px;
        color: rgba(245, 245, 245, 0.796);
    }
    i.fa-home{
        display: none;
    }
    .search__flex{
          display: none;
      }
    .flex__contact{
        width: 100%;
    }
    .flex__contact-form{
        width: 100%;
    }
    .flex__label{
        width: 90%;

    }
    .flex__contact-form{
        flex-direction: column-reverse;
    }
    .hr-email{
        border: none;
        margin: 0 auto;
        height: 150px;
    }
    .fa-envelope{
        margin: 0 auto;
        color: rgba(255, 127, 80, 0.775);
    }
    .flex__label{
        align-items: center;
    }
    label{
        margin: 8px;
        
    }
    input{
        width: 100%;
        font-size: 1.2em;
        height: 35px;
    }
    textarea{
        max-width: 150px;
        max-height: 50px;
        min-width: 100%;
        min-height: 100px
    }
    
    button{
        padding: 10px 10px;
    }
    .footer_footer{
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 90%;
    }
}
@media screen 
and (min-width:414px)
and (max-width: 540px){
    .nav_main{
        justify-content: center;
        align-items: center;
    }
    .nav_main ul {
        justify-content: center;
    }
    .nav-menu-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-menu-menu li {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .nav-menu-menu a{
        font-size: 20px;
        background-color: rgba(255, 0, 0, 0.563);
        padding: 10px;
        border-radius: 10px;
        color: rgba(245, 245, 245, 0.796);
    }
    i.fa-home{
        display: none;
    }
    .search__flex{
          display: none;
      }
    .flex__contact{
        width: 100%;
    }
    .flex__contact-form{
        width: 100%;
    }
    .flex__label{
        width: 90%;

    }
    .flex__contact-form{
        flex-direction: column-reverse;
    }
    .hr-email{
        border: none;
        margin: 0 auto;
        height: 150px;
    }
    .fa-envelope{
        margin: 0 auto;
        color: rgba(255, 127, 80, 0.775);
    }
    .flex__label{
        align-items: center;
    }
    label{
        margin: 8px;
        
    }
    input{
        width: 100%;
        font-size: 1.2em;
        height: 35px;
    }
    textarea{
        max-width: 150px;
        max-height: 50px;
        min-width: 100%;
        min-height: 100px
    }
    
    button{
        padding: 10px 10px;
    }
    .footer_footer{
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 90%;
    }
}
@media screen 
and (min-width: 541px)
and (max-width: 767px){
    .nav_main{
        justify-content: center;
        align-items: center;
    }
    .nav_main ul {
        justify-content: center;
    }
    .nav-menu-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-menu-menu li {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .nav-menu-menu a{
        font-size: 20px;
        background-color: rgba(255, 0, 0, 0.563);
        padding: 10px;
        border-radius: 10px;
        color: rgba(245, 245, 245, 0.796);
    }
    i.fa-home{
        display: none;
    }
    .search__flex{
          display: none;
      }
    .flex__contact{
        width: 100%;
    }
    .flex__contact-form{
        width: 100%;
    }
    .flex__label{
        width: 90%;

    }
    .flex__contact-form{
        flex-direction: column-reverse;
    }
    .hr-email{
        border: none;
        margin: 0 auto;
        height: 150px;
    }
    .fa-envelope{
        margin: 0 auto;
        color: rgba(255, 127, 80, 0.775);
    }
    .flex__label{
        align-items: center;
    }
    label{
        margin: 8px;
        
    }
    input{
        width: 100%;
        font-size: 1.2em;
        height: 35px;
    }
    textarea{
        max-width: 150px;
        max-height: 50px;
        min-width: 100%;
        min-height: 100px
    }
    
    button{
        padding: 10px 10px;
    }
    .footer_footer{
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 90%;
    }
}
@media screen
and (min-width: 768px)
and (max-width: 1024px){
    .nav-menu-menu {
        display: flex;
        flex-direction: row;
    }
    .flex__contact{
        width: 100%;
    }
    .flex__contact-form{
        width: 100%;
    }
    .flex__label{
        width: 90%;

    }
    .flex__contact-form{
        flex-direction: column-reverse;
    }
    .hr-email{
        border: none;
        margin: 0 auto;
        height: 150px;
    }
    .fa-envelope{
        margin: 0 auto;
        color: rgba(255, 127, 80, 0.775);
    }
    .flex__label{
        align-items: center;
    }
    label{
        margin: 8px;
        
    }
    input{
        width: 100%;
        font-size: 1.2em;
        height: 35px;
    }
    textarea{
        max-width: 150px;
        max-height: 50px;
        min-width: 100%;
        min-height: 100px
    }
    
    button{
        padding: 10px 10px;
    }
    .footer_footer{
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
    }
}