.titulo-banner{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.banner-nosotros{
    box-shadow: 2px 3px 10px rgb(0 0 0 / 60%);
}

.titulo-banner-h2,
.titulo-banner-p{
    text-align: center;
    padding: 5px;
}
.cards-nosotros-1,
.cards-nosotros-3{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px 0;
    background: rgba(0, 0, 0, 0.119);
}
.cards-nosotros-2{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 10px 0;
    background: rgba(0, 0, 0, 0.119);
}
.texto{
   display: flex;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   word-break:initial;
   width: 50%;
   margin: 5px 10px;
}

.texto2{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    word-break:initial;
    width: 50%;
    margin: 5px 10px;
 }

 .texto3{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    word-break:initial;
    width: 50%;
    margin: 5px 10px;
 }

.cards-nosotros-img{
    width: 550px;
    height: 367px;
}

.card-nosotros h3{
    text-align: center;
    margin-top: 50px;
}

.flex-h3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-h3{
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px groove blue;
}

.flex-maps-ubicacion{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 0;

}
.tenedor-logo{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.212);
    box-shadow: 10px 1px 14px #4e3f3fdb;
    background: rgba(0, 0, 0, 0.315);
}

.map-map{
    border: 3px solid rgba(0, 0, 0, 0.219);
    transition: .8s;
}

.map-map:hover{
    border: 3px solid rgba(209, 89, 9, 0.671);
    transition: .8s;
}

/* RESPONSIVE MOBILE */

@media screen and (min-width: 0px)
and (max-width: 300px){
.nav_main{
    justify-content: center;
    align-items: center;
}
.nav_main ul {
    justify-content: center;
}
.nav-menu-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.nav-menu-menu li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-menu-menu a{
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0.563);
    padding: 10px;
    border-radius: 10px;
    color: rgba(245, 245, 245, 0.796);
}
i.fa-home{
    display: none;
}
.search__flex{
      display: none;
}
.banner-nosotros{
      width: 100%;
}
.titulo-banner-h2{
    font-size: 1.6em;
    text-transform: uppercase;
}
.titulo-banner-p{
    text-align: start;
}
.card-nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards-nosotros-1,
.cards-nosotros-2,
.cards-nosotros-3{
    flex-direction: column;
    align-items: center;
    border-end-end-radius: 20px;
}
.texto,
.texto2,
.texto3{
    width: 100%;
    text-align: start;
    margin-left: 10px;
}
.card-nosotros h3 {
    text-align: start;
    margin-top: 50px;
    margin-left: 10px;
} 

.cards-nosotros-img{
    width: 100%;
    height: 50%;
    border-end-end-radius: 20px;
}

iframe.iframe-maps-ubicacion {
    width: 100%;
    height: 100%;
}

.footer_footer{
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 80%;
}
}
@media screen
and (min-width: 300px)
and (max-width: 414px){
    .nav_main{
        justify-content: center;
        align-items: center;
    }
    .nav_main ul {
        justify-content: center;
    }
    .nav-menu-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-menu-menu li {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .nav-menu-menu a{
        font-size: 20px;
        background-color: rgba(255, 0, 0, 0.563);
        padding: 10px;
        border-radius: 10px;
        color: rgba(245, 245, 245, 0.796);
    }
    i.fa-home{
        display: none;
    }
    .search__flex{
          display: none;
    }
    .banner-nosotros{
          width: 100%;
    }
    .titulo-banner-h2{
        font-size: 1.6em;
        text-transform: uppercase;
    }
    .titulo-banner-p{
        text-align: start;
        font-size: 1.4em;
    }
    .card-nosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards-nosotros-1,
    .cards-nosotros-2,
    .cards-nosotros-3{
        flex-direction: column;
        align-items: center;
        border-end-end-radius: 20px;
    }
    .cards-nosotros-1 p,
    .cards-nosotros-2 p,
    .cards-nosotros-3 p{
        font-size: 1.5em;
    }   
    .texto,
    .texto2,
    .texto3{
        width: 100%;
        text-align: start;
        margin-left: 10px;
    }
    .card-nosotros h3 {
        text-align: start;
        margin-top: 50px;
        margin-left: 10px;
        font-size: 1.6em;
    } 
    
    .cards-nosotros-img{
        width: 100%;
        height: 50%;
        border-end-end-radius: 20px;
    }
    
    iframe.iframe-maps-ubicacion {
        width: 100%;
        height: 100%;
    }
    
    .footer_footer{
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 80%;
    }   
}
@media screen 
and (min-width:414px)
and (max-width: 540px){
    .nav_main{
        justify-content: center;
        align-items: center;
    }
    .nav_main ul {
        justify-content: center;
    }
    .nav-menu-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-menu-menu li {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .nav-menu-menu a{
        font-size: 20px;
        background-color: rgba(255, 0, 0, 0.563);
        padding: 10px;
        border-radius: 10px;
        color: rgba(245, 245, 245, 0.796);
    }
    i.fa-home{
        display: none;
    }
    .search__flex{
          display: none;
    }
    .banner-nosotros{
          width: 100%;
    }
    .titulo-banner-h2{
        font-size: 1.6em;
        text-transform: uppercase;
    }
    .titulo-banner-p{
        text-align: start;
        font-size: 1.4em;
    }
    .card-nosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards-nosotros-1,
    .cards-nosotros-2,
    .cards-nosotros-3{
        flex-direction: column;
        align-items: center;
        border-end-end-radius: 20px;
    }
    .cards-nosotros-1 p,
    .cards-nosotros-2 p,
    .cards-nosotros-3 p{
        font-size: 1.5em;
    }   
    .texto,
    .texto2,
    .texto3{
        width: 100%;
        text-align: start;
        margin-left: 10px;
    }
    .card-nosotros h3 {
        text-align: start;
        margin-top: 50px;
        margin-left: 10px;
        font-size: 1.6em;
    } 
    
    .cards-nosotros-img{
        width: 100%;
        height: 50%;
        border-end-end-radius: 20px;
    }
    
    iframe.iframe-maps-ubicacion {
        width: 100%;
        height: 100%;
    }
    
    .footer_footer{
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
    }   
}
@media screen 
and (min-width: 541px)
and (max-width: 767px){
    .nav_main{
        justify-content: center;
        align-items: center;
    }
    .nav_main ul {
        justify-content: center;
    }
    .nav-menu-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-menu-menu li {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .nav-menu-menu a{
        font-size: 20px;
        background-color: rgba(255, 0, 0, 0.563);
        padding: 10px;
        border-radius: 10px;
        color: rgba(245, 245, 245, 0.796);
    }
    i.fa-home{
        display: none;
    }
    .search__flex{
          display: none;
    }
    .banner-nosotros{
          width: 100%;
    }
    .titulo-banner-h2{
        font-size: 1.6em;
        text-transform: uppercase;
    }
    .titulo-banner-p{
        text-align: start;
        font-size: 1.4em;
    }
    .card-nosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards-nosotros-1,
    .cards-nosotros-2,
    .cards-nosotros-3{
        flex-direction: column;
        align-items: center;
        border-end-end-radius: 20px;
    }
    .cards-nosotros-1 p,
    .cards-nosotros-2 p,
    .cards-nosotros-3 p{
        font-size: 1.5em;
    }   
    .texto,
    .texto2,
    .texto3{
        width: 100%;
        text-align: start;
        margin-left: 10px;
    }
    .card-nosotros h3 {
        text-align: start;
        margin-top: 50px;
        margin-left: 10px;
        font-size: 1.6em;
    } 
    
    .cards-nosotros-img{
        width: 100%;
        height: 50%;
        border-end-end-radius: 20px;
    }
    
    iframe.iframe-maps-ubicacion {
        width: 100%;
        height: 100%;
    }
    
    .footer_footer{
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
    }   
}
@media screen
and (min-width: 768px)
and (max-width: 1024px){
    .nav_main{
        justify-content: center;
        align-items: center;
    }
    .nav_main ul {
        justify-content: center;
    }
    .nav-menu-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-menu-menu li {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .nav-menu-menu a{
        font-size: 20px;
        background-color: rgba(255, 0, 0, 0.563);
        padding: 10px;
        border-radius: 10px;
        color: rgba(245, 245, 245, 0.796);
    }
    i.fa-home{
        display: none;
    }
    .search__flex{
          display: none;
    }
    .banner-nosotros{
          width: 100%;
    }
    .titulo-banner-h2{
        font-size: 1.6em;
        text-transform: uppercase;
    }
    .titulo-banner-p{
        text-align: start;
        font-size: 1.4em;
    }
    .card-nosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards-nosotros-1,
    .cards-nosotros-2,
    .cards-nosotros-3{
        flex-direction: column;
        align-items: center;
        border-end-end-radius: 20px;
    }
    .cards-nosotros-1 p,
    .cards-nosotros-2 p,
    .cards-nosotros-3 p{
        font-size: 1.5em;
    }   
    .texto,
    .texto2,
    .texto3{
        width: 100%;
        text-align: start;
        margin-left: 10px;
    }
    .card-nosotros h3 {
        text-align: start;
        margin-top: 50px;
        margin-left: 10px;
        font-size: 1.6em;
    } 
    
    .cards-nosotros-img{
        width: 100%;
        height: 50%;
        border-end-end-radius: 20px;
    }
    
    iframe.iframe-maps-ubicacion {
        width: 100%;
        height: 100%;
    }
    
    .footer_footer{
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
    }   
}